{{ if and (isset .Params "image") .Params.image }}
<a class="featured-image-link" href="{{ .Permalink }}"><div class='featured-image lazy lazy-bg-image'   data-background="{{ .Params.image | absURL }}"></div></a>
{{ end }}

<div class="excerpt-container">
    <div class="excerpt-meta">
        <span class="date">{{ .Date.Format "January 02" }}</span>
        <span> / </span>
        <span class="author">{{ partial "author/displayName" . }}</span>
        {{ range .Params.categories }}
        <span> / </span>
        <span class="category">
            <a href="/categories{{ . | relURL }}">{{ . }}</a>
        </span>
        {{ end }}
    </div>
    <div class='excerpt-header'>
        <h2 class='excerpt-title'>
            <a href="{{ .Permalink }} "> {{ .Title }} </a>
        </h2>
    </div>
    <div class='excerpt-content'>
        <article>
            {{ .Summary }}

            <div class="more-link-wrapper"><a class="more-link" href="{{ .Permalink }}">Read the post<span class="screen-reader-text">This is a Standard Post</span></a></div>
        </article>
    </div>
</div>
